.filter__item {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: inherit;
  border: 0;
}

.filter__item--Cloud_Application_Development {
  color: #d20082;
}

.filter__item--Interactive_Media_Development {
  color: #f58732;
}

.table {
  color: white;
  text-align: center;
  margin: calc(calc(100vh - (3.5rem + 36.8125rem)) / 2) auto;
}

td, th {
  border: 1px solid white;
}

td {
  height: 6rem;
  width: 9rem;
}

.learning_line__bg {
  opacity: 0.2;
}

.table__head {
  background-color: #7e57c5;
}

.Applied_Information_Technology {
  background-color: #5ab946;
}

.Business_Communication {
  background-color: #00a5d9;
}

.Computer_Programming {
  background-color: #d20082;
}

.Creative_Design_Development {
  background-color: #f58732;
}

.Workplace_Learning {
  background-color: #ed0034;
}