.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24rem;
  margin: 0 auto;
  padding: 2rem;
}

.error_message {
  color: red;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.form__input {
  margin-bottom: 1rem;
}

.form__input--button {
  margin: 0.5rem auto;
  width: 6rem;
}